.body {
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.loginTitle {
    font-size: 24px;
    align-self: center;
}

.userLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputField {
    color: #374151;
    background-color: #e5e7eb;

}

.large {
    
}

.submitButton {

}